@font-face {
    font-family: 'Roboto';
    src: url('../fonts/dehinted-subset-Roboto-Medium.eot');
    src: url('../fonts/dehinted-subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/dehinted-subset-Roboto-Medium.woff2') format('woff2'),
        url('../fonts/dehinted-subset-Roboto-Medium.woff') format('woff'),
        url('../fonts/dehinted-subset-Roboto-Medium.ttf') format('truetype'),
        url('../fonts/dehinted-subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/dehinted-subset-Roboto-Regular.eot');
    src: url('../fonts/dehinted-subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/dehinted-subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/dehinted-subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/dehinted-subset-Roboto-Regular.ttf') format('truetype'),
        url('../fonts/dehinted-subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

a {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    text-decoration-line: none;
    padding: 0px 42px;
    font-size: 16px;
    line-height: 26.25px;
    text-align: center;
}

.link {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:rgba(52, 84, 122, 1);
    text-decoration-line: none;
    padding: 0px 42px 0px 0px;
    text-align: center;
}

header {
    background-color: rgba(238, 239, 241, 1);
    height: 700px;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding: 79px 0px 0px 0px;
}

li {
    display: inline-block;
}

* {
    box-sizing: border-box;
}