@font-face {
    font-family: 'Roboto';
    src: url('../fonts/dehinted-subset-Roboto-Medium.eot');
    src: url('../fonts/dehinted-subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/dehinted-subset-Roboto-Medium.woff2') format('woff2'), url('../fonts/dehinted-subset-Roboto-Medium.woff') format('woff'), url('../fonts/dehinted-subset-Roboto-Medium.ttf') format('truetype'), url('../fonts/dehinted-subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/dehinted-subset-Roboto-Regular.eot');
    src: url('../fonts/dehinted-subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/dehinted-subset-Roboto-Regular.woff2') format('woff2'), url('../fonts/dehinted-subset-Roboto-Regular.woff') format('woff'), url('../fonts/dehinted-subset-Roboto-Regular.ttf') format('truetype'), url('../fonts/dehinted-subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.header {
    background-color: rgba(238, 239, 241, 1);
    padding: 74px 0px 146px 0px;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    display: inline-block;
    vertical-align: top;
    margin-right: 42px;
}

.link {
    color: rgba(0, 0, 0, 1);
    text-decoration-line: none;
    letter-spacing: 0.1em;
}

.link.first {
    font-weight: 500;
    color: rgba(52, 84, 122, 1);
}

.navbar {
    margin-bottom: 140px;
}

.subject {
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    line-height: 79px;
    margin-bottom: 38px;
    width: 541px;
}

.desc {
    color: rgba(114, 114, 114, 1);
    width: 540px;
    margin-bottom: 54px;
}

.button {
    background-color: rgba(52, 84, 122, 1);
    padding: 20px 41px 19px;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    vertical-align: top;
    text-decoration-line: none;
    letter-spacing: 0.1em;
}

.wrap {
    background-color: rgba(249, 249, 249, 1);
    padding: 116px 0px 94px 0px;
}

.about-me {
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 41px;
    margin-left: auto;
    margin-right: auto;
}

.desc.about {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.wrap-card {
    background-color: rgba(52, 84, 122, 1);
    padding: 100px 0px 100px 0px;
}

.icon {
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

.card-desc {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
}

.card-title {
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 8px;
}

.card-text {
    color: rgba(255, 255, 255, 1);
    line-height: 16px;
}

.card {
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
}

.card:last-child {
    margin-right: 0;
}

.about-work {
    background-color: rgba(238, 239, 241, 1);
    padding: 97px 0px 100px 0px;
}

.about.work {
    margin: 0px auto 51px;
}

.video {
    width: 1110px;
    height: 600px;
    border: 0;
    margin-bottom: -8px;
}

.footer {
    background-color: rgba(52, 84, 122, 1);
    padding: 47px 0px 45px 0px;
}

.author {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.copyright {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
}