@font-face {
    font-family: 'Roboto';
    src: url('../fonts/dehinted-subset-Roboto-Medium.eot');
    src: url('../fonts/dehinted-subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/dehinted-subset-Roboto-Medium.woff2') format('woff2'),
        url('../fonts/dehinted-subset-Roboto-Medium.woff') format('woff'),
        url('../fonts/dehinted-subset-Roboto-Medium.ttf') format('truetype'),
        url('../fonts/dehinted-subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/dehinted-subset-Roboto-Regular.eot');
    src: url('../fonts/dehinted-subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/dehinted-subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/dehinted-subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/dehinted-subset-Roboto-Regular.ttf') format('truetype'),
        url('../fonts/dehinted-subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

header {
    background-color: rgba(238, 239, 241, 1);
    padding: 79px 0px 146px 0px;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    margin-bottom: 166px;
}

.main-list > li {
    display: inline-block;
}

.list-link {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:rgba(52, 84, 122, 1);
    text-decoration-line: none;
    padding: 0px;
    letter-spacing: 0.1em;
}

.link {
    color: rgba(0, 0, 0, 1);
    text-decoration-line: none;
    padding: 0px 0px 0px 42px;
    font-size: 16px;
    line-height: 26.25px;
    letter-spacing: 0.1em;
}

.heading {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    line-height: 78.75px;
    margin-bottom: 60px;
    width: 541px;
}

.subject {
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    line-height: 26.25px;
    width: 540px;
    margin-bottom: 60px;
}

.button {
    background-color: rgba(52, 84, 122, 1);
    padding: 25px 41px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 26.25px;
    text-align: center;
    display: inline-block;
    text-decoration-line: none;
}

.wrapper {
    background-color: rgba(249, 249, 249, 1);
    padding: 119px 0px 100px 0px;
}

.desc {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    line-height: 37.5px;
    text-align: center;
    width: 403px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    text-align: center;
}

.wrapper-two {
    background-color: rgba(52, 84, 122, 1);
    padding: 100px 0px 100px 0px;
}

.section {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: inline-block;
    width: 141px;
    height: 50px;
    vertical-align: top;
}

.desc-card {
    display: inline-block;
    vertical-align: top;
}

h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-size: 21px;
    line-height: 24.61px;
    margin-bottom: 10px;
    padding: 0px 0px 0px 20px;
}

h3 + p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 26.25px;
    margin-bottom: 0px;
    width: 0px;
    padding: 0px 0px 0px 20px;
}